/* Header */

h1.index_topbar{
font-family: 'Josefin Sans', sans-serif;
font-size:18px;
letter-spacing:5px;
}
div.IndexMainHeaderImage{
border-bottom:3px solid #333;	
}

/* xwrite */

h3.ParrAdder{
font-family:'Josefin Sans', sans-serif;
font-size:12px;
}

/* BLOG.php */

span.blogpgTitle{
font-family: 'Josefin Sans', sans-serif;
font-size:20px;
letter-spacing:10px;	
}

span.parrTitle{
font-family: 'Josefin Sans', sans-serif;
font-size:20px;
letter-spacing:10px;	
}

h3 span.blogEditorLables{
font-family: 'Oswald', sans-serif;
font-size:18px;
/* letter-spacing:10px;	 */
}

h3.chgbtn{
background:rgb(52,170,220);	
}

h3.chgbtn:hover{
background:rgb(90,200,251);	
}



button.chgbtndynm{
font-family: 'Oswald', sans-serif;
background:rgb(255,204,0);
font-size:22px;
letter-spacing:2px;	
color:#000;
border:2px solid #fff;	
}

button.chgbtndynm:hover{
background:rgb(11,211,24);
color:#fff;
border:2px solid rgb(255,204,0);	
}





span.whocanview{
font-family: 'Oswald', sans-serif;
font-size:13px;
letter-spacing:2px;	
color:#333;	
margin:;
}

select#choosecat:invalid { color: pink; }

/*
div#SureDelete{
position:absolute;
width:450px;
height:200px;	
z-index:20;
background:#f4f4f4;
}
*/


div#SureDeleteMessage{
display:none;
position:relative;	
margin:0 auto;
width:400px;
overflow:auto;
background:#f4f4f4;
}


i span.addNewBP {
font-family: 'Oswald', sans-serif;
margin-left:5px;
font-size:18px;
color:#333;	
}